# MariaDB_Feature
MYSQL_ROOT_PASSWORD=root_password_feature
MYSQL_DATABASE=database_llars
MYSQL_USER=user_feature
MYSQL_PASSWORD=password_feature
FLASK_ENV=development

OPENAI_API_KEY=...

PROXY_REMOTE_USER=...

#START_SEEDER=true


# VITE_API_BASE_URL=http://172.22.0.4:8081
VITE_API_BASE_URL=http://localhost:8081
VITE_PROJECT_STATE=development
VITE_MKDOCS_URL=http://localhost:55800
VUE_APP_TIMEOUT=5000
VUE_APP_TOKEN_KEY="token"
VUE_APP_TITLE="LLars App"

### DANGER ZONE ###
# Remove Volumes at start. Handle with Caution!
REMOVE_VOLUMES=True